/*---------------------
    BUTTONS
---------------------*/
button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn {
    border-radius: 1.25rem;
}
.btn-lg {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.btn-xl {
    padding: 3.125rem;
}
.btn-first {
    background-color: var(--first-color);
    color: #fff;
}
.btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}
.btn-text-secondary {
    color: var(--secondary-color);
}
.btn-circle {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    line-height: 2.25rem;
    text-align: center;
    color: inherit;
}