/*---------------------
    COMMON
---------------------*/
.container {
    max-width: 68.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
}

.row {
    display: flex;
}