/*---------------------
    SECTION HIGHLIGHTS
---------------------*/
.highlights .card {
    background-color: var(--first-color-light);
}
/* Tablet */
@media screen and (min-width: 768px){
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc( (100% / 3) * 2);
    }
}

/*---------------------
    SECTION STRATEGIC
---------------------*/
.strategic {
    background-color: var(--secondary-color);
}
/* Tablet */
@media screen and (min-width: 768px){
    .strategic .col {
        width: 50%;
    }
}

/*---------------------
    SECTION TESTIMONIALS
---------------------*/
.testimonials .card {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 1.25rem 0;
}

/* Tablet */
@media screen and (min-width: 768px){
    .testimonials .card {
        text-align: left;
    }
    .testimonials .col-left {
        width: 30%;
    }
    .testimonials .col-right {
        width: 70%;
    }
}

/*---------------------
    SECTION BENEFITS
---------------------*/
.benefits {
    background-color: var(--secondary-color);
}
/* Tablet */
@media screen and (min-width: 768px){
    .benefits .col {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px){
    .benefits .col {
        width: calc(100% / 3);
    }
}

/*---------------------
    SECTION ABOUT US
---------------------*/
/* Tablet */
@media screen and (min-width: 768px){
    .about-us .col {
        padding-left: 2.8125rem;
        padding-right: 2.8125rem;
    }
    .about-us .col-left {
        width: 65%;
    }
    .about-us .col-right {
        width: 35%;
    }
}

/*---------------------
    SECTION GET STARTED
---------------------*/
.get-started {
    background-color: var(--secondary-color);
}