/*---------------------
    SECTION HIGHLIGHTS
---------------------*/

.card-debug {
    background-color: var(--first-color-light);
    height: 100px;
}

.highlights .col {
    width: 100%;
    margin: .625rem 0;
}

/* Tablet */
@media screen and (min-width: 768px){
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc( (100% / 3) * 2);
    }
}

/*---------------------
    SECTION STRATEGIC
---------------------*/
.strategic {
    background-color: var(--secondary-color);
}
.strategic .col {
    width: 100%;
    margin: .625rem 0;
}
/* Tablet */
@media screen and (min-width: 768px){
    .strategic .col {
        width: 50%;
    }
}

/*---------------------
    SECTION TESTIMONIALS
---------------------*/
.card-testimonial {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    border-radius: 2.5rem;
    text-align: center;
    margin: 1.25rem 0;
}
.card-testimonial-img {
    border-radius: 50%;
}
.card-testimonial .col {
    width: 100%;
}
/* Tablet */
@media screen and (min-width: 768px){
    .card-testimonial {
        text-align: left;
    }
    .card-testimonial .col-left {
        width: 30%;
    }
    .card-testimonial .col-right {
        width: 70%;
    }
}

/*---------------------
    SECTION BENEFITS
---------------------*/
.benefits {
    background-color: var(--secondary-color);
}
.benefits .col {
    width: 100%;
    margin-bottom: 1.25rem;
}
/* Tablet */
@media screen and (min-width: 768px){
    .benefits .col {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px){
    .benefits .col {
        width: calc(100% / 3);
    }
}

/*---------------------
    SECTION ABOUT US
---------------------*/
.about-us .col {
    width: 100%;
    margin-bottom: 1.25rem;
}
/* Tablet */
@media screen and (min-width: 768px){
    .about-us .col {
        padding-left: 2.8125rem;
        padding-right: 2.8125rem;
    }
    .about-us .col-left {
        width: 65%;
    }
    .about-us .col-right {
        width: 35%;
    }
}