/*---------------------
    SECTION HIGHLIGHTS
---------------------*/
.highlights .card {
    background-color: var(--first-color-light);
    height: 100%;
}

.highlights .col:first-child .card {
    padding-bottom: 0;
}

.highlights .card .card-img {
    display: block;
    max-width: 100%;
    max-height: 280px;
}
/* Tablet */
@media screen and (min-width: 768px){
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc( (100% / 3) * 2);
    }
}
/* Desktop */
@media screen and (min-width: 992px){
    .highlights .col:first-child .card {
        display: flex;
    }
    .highlights .card .card-left {
        width: 50%;
    }
    .highlights .card .card-right {
        width: 50%;
    }
    .highlights .card-img {
        margin: auto;
    }
}
/*---------------------
    SECTION STRATEGIC
---------------------*/
.strategic {
    background-color: var(--secondary-color);
}
/* Tablet */
@media screen and (min-width: 768px){
    .strategic .col {
        width: 50%;
    }
}

/*---------------------
    SECTION TESTIMONIALS
---------------------*/
.testimonials .card {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 1.25rem 0;
}
.testimonials .card .col-left img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* Tablet */
@media screen and (min-width: 768px){
    .testimonials .card .row {
        flex-wrap: nowrap;
    }
    .testimonials .card {
        text-align: left;
    }
    .testimonials .col-left {
        width: auto;
        flex-shrink: 0;
    }
    .testimonials .col-right {
        width: auto;
        flex-grow: 1;
    }
}

/*---------------------
    SECTION BENEFITS
---------------------*/
.benefits {
    background-color: var(--secondary-color);
}
/* Tablet */
@media screen and (min-width: 768px){
    .benefits .col {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px){
    .benefits .col {
        width: calc(100% / 3);
    }
}

/*---------------------
    SECTION ABOUT US
---------------------*/
.avatar {
    position: relative;
    display: inline-block;
}
.avatar img {
    display: block;
}
.avatar-icon {
    font-size: 6rem;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
}

/* Tablet */
@media screen and (min-width: 768px){
    .about-us .col {
        padding-left: 2.8125rem;
        padding-right: 2.8125rem;
    }
    .about-us .col-left {
        width: 65%;
    }
    .about-us .col-right {
        width: 35%;
    }
}

/*---------------------
    SECTION GET STARTED
---------------------*/
.get-started {
    background-color: var(--secondary-color);
}